In [1]:
import os
import pandas as pd

from tqdm.notebook import tqdm

In [2]:
def read_dir(dir):
    files = os.listdir(dir)
    files = [os.path.join(dir, file) for file in files]
    dfs = [pd.read_parquet(file) for file in tqdm(files, desc='Reading files')]
    return pd.concat(dfs)


base_dir = './data/nyc_tlc_trip_record_2023'

get_yellow = lambda: read_dir(base_dir + '/yellow')
get_green = lambda: read_dir(base_dir + '/green')
get_fhv = lambda: read_dir(base_dir + '/fhv')
get_fhvhv = lambda: read_dir(base_dir + '/fhvhv')

In [3]:
yellow = get_yellow()
yellow.head()

Reading files:   0%|          | 0/12 [00:00<?, ?it/s]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee
0,1,2023-06-01 00:08:48,2023-06-01 00:29:41,1.0,3.40,1.0,N,140,238,1,21.9,3.50,0.5,6.70,0.0,1.0,33.60,2.5,0.00,NaN
1,1,2023-06-01 00:15:04,2023-06-01 00:25:18,0.0,3.40,1.0,N,50,151,1,15.6,3.50,0.5,3.00,0.0,1.0,23.60,2.5,0.00,NaN
2,1,2023-06-01 00:48:24,2023-06-01 01:07:07,1.0,10.20,1.0,N,138,97,1,40.8,7.75,0.5,10.00,0.0,1.0,60.05,0.0,1.75,NaN
3,2,2023-06-01 00:54:03,2023-06-01 01:17:29,3.0,9.83,1.0,N,100,244,1,39.4,1.00,0.5,8.88,0.0,1.0,53.28,2.5,0.00,NaN
4,2,2023-06-01 00:18:44,2023-06-01 00:27:18,1.0,1.17,1.0,N,137,234,1,9.3,1.00,0.5,0.72,0.0,1.0,15.02,2.5,0.00,NaN

In [4]:
green = get_green()
green.head()

Reading files:   0%|          | 0/12 [00:00<?, ?it/s]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2023-06-01 00:32:25,2023-06-01 00:39:06,N,1.0,74,42,1.0,0.84,7.9,1.0,0.5,2.08,0.0,NaN,1.0,12.48,1.0,1.0,0.00
1,2,2023-06-01 00:39:07,2023-06-01 00:51:59,N,1.0,41,229,1.0,4.05,19.1,1.0,0.5,3.65,0.0,NaN,1.0,28.00,1.0,1.0,2.75
2,2,2023-06-01 00:35:59,2023-06-01 00:57:06,N,1.0,97,89,1.0,4.26,23.3,1.0,0.5,5.16,0.0,NaN,1.0,30.96,1.0,1.0,0.00
3,2,2023-06-01 00:50:29,2023-06-01 01:00:32,N,1.0,75,263,1.0,1.79,12.1,1.0,0.5,3.47,0.0,NaN,1.0,20.82,1.0,1.0,2.75
4,2,2023-06-01 00:15:15,2023-06-01 00:52:40,N,1.0,33,48,1.0,6.40,37.3,1.0,0.5,0.00,0.0,NaN,1.0,42.55,1.0,1.0,2.75

In [5]:
fhv = get_fhv()
fhv.head()

Reading files:   0%|          | 0/12 [00:00<?, ?it/s]

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00008,2023-06-01 00:00:00,2023-06-01 00:21:00,NaN,NaN,NaN,B00008
1,B00008,2023-06-01 00:15:00,2023-06-01 00:41:00,NaN,NaN,NaN,B00008
2,B00009,2023-06-01 00:00:00,2023-06-01 00:13:00,NaN,NaN,NaN,B00009
3,B00009,2023-06-01 00:15:00,2023-06-01 00:28:00,NaN,NaN,NaN,B00009
4,B00009,2023-06-01 00:30:00,2023-06-01 00:45:00,NaN,NaN,NaN,B00009

In [ ]:
# careful, >5gb per file, so >60 in total
# ate my ram and swap then the process crashed
# fhvhv = get_fhvhv()
# fhvhv.head()

Reading files:   0%|          | 0/12 [00:00<?, ?it/s]

EDA will be done by my fellow students